<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>party-manage</display-name>
    <description>party Application</description>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext-JDBC.xml</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>log4j2ConfigLocation</param-name>
        <param-value>classpath:log4j2.xml</param-value>
    </context-param>
    <!--编码过滤器-->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>requestContextFilter</filter-name>
        <filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>requestContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--日志配置filter -->
    <filter>
        <filter-name>requestServerLogFilter</filter-name>
        <filter-class>com.sunsharing.ihome.air.web.common.RequestServerLogFilter</filter-class>
        <init-param>
            <param-name>systemCode</param-name>
            <param-value>jygl</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>requestServerLogFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <!-- 允许跨域 -->
    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>com.sunsharing.party.web.filter.SimpleCORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- 门户3.0filter -->
	<filter>
		<filter-name>ssoFilter</filter-name>
		<filter-class>com.sunsharing.zeus.sso.web.SSOFilter</filter-class>
		<init-param>
			<param-name>excludePatterns</param-name>
			<param-value>login.html|css|js|images|openService|getFacilityInfo.do|png|jpg</param-value>
		</init-param>
		<init-param>
			<param-name>ssoserver</param-name>
			<param-value>http://192.168.1.131:8001/zeus_ssoserver/</param-value>
		</init-param>
	</filter>
 	<filter-mapping>
		<filter-name>ssoFilter</filter-name>
		<url-pattern>/*</url-pattern>

 	</filter-mapping>
<!--  	<filter-mapping> -->
<!-- 		<filter-name>ssoFilter</filter-name> -->
<!-- 		<url-pattern>/login/*</url-pattern> -->
<!--  	</filter-mapping> -->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SysInit</servlet-name>
        <servlet-class>com.sunsharing.party.SysInit</servlet-class>
        <load-on-startup>100</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>springDispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-servlet.xml</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springDispatcherServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fileLoaderServlet</servlet-name>
        <servlet-class>com.sunsharing.party.common.servlet.FileLoaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileLoaderServlet</servlet-name>
        <url-pattern>/resource/static/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileLoaderServlet</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
        <load-on-startup>10000</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AxisAdminServlet</servlet-name>
        <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
        <load-on-startup>10000</load-on-startup>
    </servlet>
    <servlet>
        <display-name>Axis Admin Servlet</display-name>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
        <load-on-startup>100</load-on-startup>
    </servlet>

    <!--在线表单 start -->
    <servlet>
        <servlet-name>ResourcesServlet</servlet-name>
        <servlet-class>
            com.sunsharing.zeus.scurd.resource.controller.ResourcesServlet
        </servlet-class>
        <init-param>
            <param-name>charset</param-name>
            <param-value>utf-8</param-value>
        </init-param>
        <init-param>
            <param-name>serviceType</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>eosAppId</param-name>
            <param-value></param-value>
        </init-param>
        <load-on-startup>100</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResourcesServlet</servlet-name>
        <url-pattern>/scurd/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>uploadServlet servlet</description>
        <display-name>uploadServlet servlet</display-name>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>com.sunsharing.common.file.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>resource servlet</description>
        <display-name>resource servlet</display-name>
        <servlet-name>downLoadServlet</servlet-name>
        <servlet-class>com.sunsharing.common.file.servlet.DownLoadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>downLoadServlet</servlet-name>
        <url-pattern>/resource/*</url-pattern>
    </servlet-mapping>
    <!--在线表单 end -->

    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisAdminServlet</servlet-name>
        <url-pattern>/axis2-admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/servlet/AdminServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/errors/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/errors/500.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <jsp-config>
        <taglib>
            <taglib-uri>/tagelutil</taglib-uri>
            <taglib-location>/WEB-INF/tld/TagElUtil.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>